<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,700,500' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <title>Babson. Visualized.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/ga" %>
    <%= render "layouts/flow" %>
</body>
</html>
