<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,700,500' rel='stylesheet' type='text/css'>
  <title>Babson. Visualized.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <header>
            <span class="hclass" id="htitle">Babson Fall 2013 by Home Location </span><span class="hclass" id="note">total undergraduate, graduate, and exchange students</span>
        </header>
        <%= yield %>
    </div>
<%= render "layouts/ga" %>
</body>
</html>
